.container-fluid{
    /* background-color: rgb(4, 82, 4); */
    background-color: black;
}
ul{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 70%;
  color: black;
  
}
ul>a{
    
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

.active{

    color: whitesmoke;
}
.navbar-brand{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    float: left;
    color: blanchedalmond;
   
}

