<div class="container-fluid">
  
    <a class="navbar-brand" >Github Search</a>
  
    <div class="container">
     
    <ul>
    
        <a   class="btn btn-sm btn-outline-secondary" routerLink='/form' routerLinkActive='active'>Search Users</a>
  
     </ul>
            
    </div>
   </div> 
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div class="card">
    <div class="card-body">
      
        <footer class="blockquote-footer">©2021 Github Search <cite title="Source Title">by Feddykip</cite></footer>
     
    </div>
  </div>
  
  




 